APP_NAME="Conectados Vitrine"
APP_ENV=production
APP_DEBUG=false
APP_MODE=vitrine
APP_URL=https://seudominio.com.br
APP_BASE_PATH=

DB_HOST=localhost
DB_PORT=3307
DB_DATABASE=seu_banco_vitrine
DB_USERNAME=seu_usuario_vitrine
DB_PASSWORD=sua_senha_vitrine

MAX_IMAGE_WIDTH=1600
MAX_IMAGE_HEIGHT=1600
